[Unit]
Description=Secure Diode System Logger (SDSyslog) Receiver
Documentation=https://github.com/EvSecDev/SDSyslog
After=network.target systemd-journald.service

[Service]
User=root
Group=adm
StandardOutput=journal
StandardError=journal
ExecStart=$executableFilePath receive --config $receiveConfigFilePath
Type=notify-reload
# Allow new child process to signal reload success
NotifyAccess=all
RestartSec=60
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
